<%- include('../partials/header') %>

<h3><%= flight.title %></h3>

<div>
    <p>Airline: <%= flight.airline %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Flight Number: <%= flight.flightNo %></p>
    <p>Departure: <%= flight.departs.toLocaleString() %></p>
</div>

    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival.toLocaleDateString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Add Destination:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select><br>
    <label>Arrival:</label>
    <input type="datetime-local" name="arrival">
    <button type="submit">Add</button>
</form>

<% if (tickets.length) { %>
    <table>
        <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach(function(t) { %>
                <tr>
                    <td><%= t.seat %></td>
                    <td><%= t.price %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<%  } else { %>
    <h5>No tickets yet...</h5>
<% } %>

<a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>

<%- include('../partials/footer') %>